/*
*{
    border: 2px solid black;
}
*/
body{
    background-color: #aaaaaa;
}

main{
    background-color: #eeeeee;
    border: 2px solid black;
    margin: 100px auto 100px auto;
    width: 30%;
    padding: 40px 100px 40px 100px;
}

h1{
    text-align: center;
    margin-top: 0;
}

button{
    background-color: #AAAAAA;
    border: 2px solid black;
    height: 30px;
    min-width: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}
button:hover{
    background-color: #666666;
    cursor: pointer;
}
button:active{
    position: relative;
    left: 2px;
    top: 2px;
    box-shadow: 0 0;
}